<h1>Modelos de marcas</h1>
<ul class="nav">
  <li class="nav-item">
    <%= link_to "Crear nuevo", new_brand_model_path, class: "nav-link active" %>
  </li>
</ul>

<hr>
<div>
  <% @brand_models.each do |brand_model| %>
  <ul>
    <li>Brand: <%= brand_model.brand.name %></li>
    <li>Model: <%= brand_model.name %></li>
    <li>
      <%= link_to "Show", brand_model %> |
      <%= link_to "Editar", edit_brand_model_path(brand_model) %> |
      <%= link_to "Borrar", brand_model, method: :delete, data: { confirm: "Confirmar borrar?"} %> |
    </li>
  </ul>
  <% end %>
</div>
