<div id="registration-background">
  <div class="container">
    <div class="row full-height align-items-center">
      <div class="col-12 col-md-7 col-lg-5 col-xl-5">
        <div class="card">
          <div class="card-body">
            <%= image_pack_tag 'logo-01.svg', class: 'registration-logo mt-4 mb-5' %>
            <h3 class="card-title mb-0">Autenticate</h3>
            <p class="mb-4 text-muted">Para continuar con registro</p>

            <%= form_with( model: @admin_registration, url: authenticate_path, local: true, class: 'mt-4 mb-5') do |form| %>
              <%= render "shared/errors", object: @admin_registration %>

              <div class="form-group">
                <%= form.label "Correo electronico", for: :new_admin_email %>
                <%= form.email_field :email, id: :new_admin_email, class: 'form-control'%>
              </div>
              <div class="form-group">
                <%= form.label "Codigo de Referencia", for: :reference_code %>
                <%= form.password_field :reference_code, id: :reference_code, class: 'form-control'%>
                <small id="refCodeHelp" class="form-text text-muted">Codigo de referencia recibido en email </small>
              </div>

              <%= form.submit 'Continuar', class: 'btn btn-primary' %>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
