<h1>Marcas de productos</h1>
<ul class="nav">
  <li class="nav-item">
    <%= link_to "Crear nuevo", new_brand_path, class: "nav-link active" %>
  </li>
</ul>

<hr>
<div>
  <% @brands.each do |brand| %>
    <ul>
      <li>
        <%= brand.name %> - id: <%= brand.id %>
      </li>
      <li><%= image_tag(brand.logo, width: "250", height: "auto") if brand.logo.attached? %></li>
      <li><%= link_to "Editar", edit_brand_path(brand) %></li>
    </ul>
    <hr>
  <% end %>
</div>
