<div class="nested-fields border-info mb-3">
  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= form.hidden_field :_destroy %>
        <%= form.collection_select :color_id, Color.all, :id, :name, prompt: true %>
        <br>
        <br>
        <%= form.file_field :pictures, multiple: true %>
        <hr>
        <small>
          <%= link_to "Remove", "#", data: {action: 'click->nested-form#remove_association'}  %>
        </small>
      </div>
    </div>
    <div class="col-6">
      <h5>Tallas</h5>
      <hr>

      <!-- COLOR SIZE -->
      <div data-controller="nested-form">
        <template data-target="nested-form.template">
          <%= form.fields_for :color_sizes, ColorSize.new, child_index: "TEMPLATE_SUB_RECORD" do |color_size| %>
            <%= render 'color_size_fields', form: color_size %>
          <% end %>
        </template>

        <%= form.fields_for :color_sizes do |color_size| %>
        <%= render 'color_size_fields', form: color_size %>
        <% end %>

        <div data-target="nested-form.add_item">
          <%= link_to "Agregar", "#", data: {action: 'click->nested-form#add_association'}  %>
        </div>
      </div>
      <!-- COLOR SIZE -->
    </div>
  </div>
</div>
